## List

In [16]:
Lst = [ "Programmes", 15, 16, 9.857 , [1, 5, 6 ]]

In [17]:
Lst

['Programmes', 15, 16, 9.857, [1, 5, 6]]

In [18]:
Lst[0]

'Programmes'

In [19]:
Lst[2]

16

In [20]:
Lst[1]

15

In [21]:
Lst [4]

[1, 5, 6]

In [22]:
Lst[4][0]

1

In [23]:
Lst[4][1]

5

In [24]:
Lst.append ("Python")

In [25]:
Lst

['Programmes', 15, 16, 9.857, [1, 5, 6], 'Python']

In [29]:
Lst.insert (1, 2)

In [30]:
Lst

['Programmes', 2, 15, 16, 9.857, [1, 5, 6], 'Python']

In [44]:
Lst.index (2)

1

In [48]:
Lst.pop (2)

15

## Dictionary

In [66]:
dit = { "phone number" : 2322324, "Address" : "10,chennai, TamilNadu", "email address" : "bhuvaneshkumar@gmail.com", "name": "Bhuvanesh" }

In [67]:
dit

{'phone number': 2322324,
 'Address': '10,chennai, TamilNadu',
 'email address': 'bhuvaneshkumar@gmail.com',
 'name': 'Bhuvanesh'}

In [70]:
dit["name"]

'Bhuvanesh'

In [72]:
dit.get("name")

'Bhuvanesh'

In [73]:
dit.items()

dict_items([('phone number', 2322324), ('Address', '10,chennai, TamilNadu'), ('email address', 'bhuvaneshkumar@gmail.com'), ('name', 'Bhuvanesh')])

In [77]:
dit.pop("Address")

'10,chennai, TamilNadu'

## Sets

In [83]:
St = {" Bhuvanesh", 2, 3, 4, 2, 5, 6}

In [84]:
St

{' Bhuvanesh', 2, 3, 4, 5, 6}

In [89]:
St1 = {2, 3}

In [90]:
St1.issubset(St)

True

In [94]:
St2 = {3,5}

In [95]:
St2.intersection (St)

{3, 5}

In [100]:
St3 = {7,8}

In [102]:
St3.isdisjoint (St)

True

## Tuple

In [110]:
tup = ("Bhuvanesh", "is", "a", "a", "coder")

In [111]:
tup.count ("a")

2

In [112]:
tup.index("coder")

4

## Strings

In [119]:
name1 ="Bhuvanesh"
name2 = "Kumar"

In [121]:
name2

'Kumar'

In [122]:
name1+name2

'BhuvaneshKumar'

In [123]:
type(name1)

str